<script setup lang="ts">
import type { ProductInterface } from "@/interfaces/Product.interface";
import { defineProps, defineEmits } from "vue";

defineProps<{
  product: ProductInterface;
}>();

const emit = defineEmits<{
  (e: "addProductToCart", productId: number): void;
}>();
</script>

<template>
  <div class="product d-flex flex-column">
    <div
      class="product_img"
      :style="{ backgroundImage: `url(${product.image})` }"
    ></div>
    <div class="d-flex flex-column p-10">
      <h4 class="">{{ product.title }}</h4>
      <p>{{ product.description }}</p>
      <div class="d-flex flex-row items-center">
        <span class="flex-fill">Prix : {{ product.price }}€</span>
        <button
          class="btn btn-primary"
          @click="emit('addProductToCart', product.id)"
        >
          Ajouter au panier
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.product {
  background-color: white;
  border: var(--border);
  border-radius: var(--border-radius);

  &_img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
    height: 250px;
  }
}
</style>
