<script setup lang="ts">
import { defineProps, defineEmits } from "vue";
import ShopProductList from "@/components/Shop/ShopProductList.vue";
import type { ProductInterface } from "@/interfaces/Product.interface";

defineProps<{
  products: ProductInterface[];
}>();

const emit = defineEmits<{
  (e: "addProductToCart", productId: number): void;
}>();
</script>

<template>
  <div>
    <ShopProductList
      :products="products"
      @add-product-to-cart="emit('addProductToCart', $event)"
    />
  </div>
</template>
<style lang="scss" scoped></style>
