<script setup lang="ts">
import { defineProps, defineEmits } from "vue";

import type { CartProductInterface } from "@/interfaces";

defineProps<{
  product: CartProductInterface;
}>();

const emit = defineEmits<{
  (e: "deleteProductFromCart", productId: number): void;
}>();
</script>

<template>
  <div class="product mb-10 p-10 d-flex flex-row items-center">
    <strong class="flex-fill">{{ product.title }}</strong>
    <span class="mr-10">x {{ product.qty }}</span>
    <span class="mr-10">Prix : {{ product.price }}€</span>
    <button
      class="btn btn-danger"
      @click="emit('deleteProductFromCart', product.id)"
    >
      Supprimer
    </button>
  </div>
</template>

<style lang="scss" scoped>
.product {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--gray-1);
}
</style>
