<script setup lang="ts">
import { defineProps, defineEmits } from "vue";
import CartProduct from "@/components/Cart/CartProduct.vue";
import type { CartProductInterface } from "@/interfaces";

defineProps<{
  cart: CartProductInterface[];
}>();

const emit = defineEmits<{
  (e: "deleteProductFromCart", productId: number): void;
}>();
</script>

<template>
  <div>
    <CartProduct
      v-for="(product, index) of cart"
      :key="index"
      :product="product"
      @delete-product-from-cart="emit('deleteProductFromCart', $event)"
    />
  </div>
</template>

<style lang="scss" scoped></style>
