.b1 {
  background-color: red;
}

.b2 {
  background-color: cornflowerblue;
}

.b3 {
  background-color: yellow;
}

.b4 {
  background-color: purple;
}

.b5 {
  background-color: green;
}

.b6 {
  background-color:  darkgoldenrod;
}