<script setup lang="ts">
import { computed, reactive } from "vue";
import TheHeader from "@/components/TheHeader.vue";
import TheFooter from "@/components/TheFooter.vue";
import TheShop from "@/components/Shop/TheShop.vue";
import TheCart from "@/components/Cart/TheCart.vue";
import data from "./data/product";
import type { CartProductInterface, ProductInterface } from "@/interfaces";

const state = reactive<{
  products: ProductInterface[];
  cart: CartProductInterface[];
}>({
  products: data,
  cart: [],
});

const addProductToCart = (productId: number): void => {
  const product = state.products.find((product) => product.id === productId);
  if (product) {
    const cartProduct = state.cart.find((product) => product.id === productId);
    if (cartProduct) {
      cartProduct.qty++;
    } else {
      state.cart.push({ ...product, qty: 1 });
    }
  }
};

const deleteProductFromCart = (productId: number): void => {
  const cartProduct = state.cart.find((product) => product.id === productId);
  if (cartProduct) {
    if (cartProduct?.qty === 1) {
      state.cart = state.cart.filter((product) => product.id !== productId);
    } else {
      cartProduct.qty--;
    }
  }
};

const cartEmpty = computed(() => state.cart.length === 0);
</script>

<template>
  <div
    class="app_container"
    :class="{
      gridEmpty: cartEmpty,
    }"
  >
    <TheHeader class="header" />
    <TheShop
      class="shop"
      :products="state.products"
      @add-product-to-cart="addProductToCart"
    />
    <TheCart
      v-if="!cartEmpty"
      class="cart"
      :cart="state.cart"
      @delete-product-from-cart="deleteProductFromCart"
    />
    <TheFooter class="footer" />
  </div>
</template>

<style lang="scss">
@import "./assets/scss/base.scss";
@import "./assets/scss/debug.scss";

.app_container {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header header" "shop cart" "footer footer";
  grid-template-columns: 75% 25%;
  grid-template-rows: 48px auto 48px;
}

.gridEmpty {
  grid-template-areas: "header" "shop" "footer";
  grid-template-columns: 100%;
}

.header {
  grid-area: header;
}
.shop {
  grid-area: shop;
}
.cart {
  grid-area: cart;
  border-left: var(--border);
  background-color: white;
}
.footer {
  grid-area: footer;
}
</style>
